@model IEnumerable<_5032_asg.Models.Ship>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ship_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship_Builder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lauch_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_Builder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lauch_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ship_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ship_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ship_Id })
        </td>
    </tr>
}

</table>
